@use 'src/styles/vars';
// == Style de la section Bio
.bio {
    border-bottom: 1px solid vars.$alt-color;
    display: Flex;
    padding: 3rem 2rem;

    .bio-text {
        color: vars.$primary-color;
        align-self: center;
        margin: 0 10rem 0 10rem;
        padding: 2rem;
        text-align: justify;
    }
}
