@use 'src/styles/vars';
// == Style de la section project
.project {
  border-bottom: 1px solid vars.$alt-color;
  padding: 3rem 2rem;

  h3 {
    padding: 2rem 2rem 1rem;
  }

  .project-layout {
    display: flex;
    justify-content: center;
    .project-description {
      margin: 1rem 5rem;
      text-align: justify;
      width: 600px;
    }

    .project-capture {
      // css juste pour le cadre en attendant la capture
      background-color: black;
      height: 400px;
      width: 400px;
    }
  }
}
