@use 'src/styles/vars';
// == Style de la section skills
.skills {
  padding: 3rem 2rem;

  .skillsHardSoft {
    display: flex;
    justify-content: space-evenly;

    .skillsHard {
        flex-direction: column;
      .skillsFrontBack {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1rem;
      }
    }

    .skillsSoft {
      ul {
        margin-top: 1rem
      }
      
    }
  }
}
