// == Style de la section skills

.sectionSkills {
  padding: 3rem 2rem;

  .skillsHardSoft {
    display: flex;
    justify-content: space-evenly;

    .skillsHard {
        flex-direction: column;
      .skillsFrontBack {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}
