// == Police
$font-family: "Roboto", sans-serif;

// == Default theme
// Colors
$logo-color: #00C4FF;

$primary-color: #002A3F;
$alt-color: #1A8CC5;

$header-bg-color: #344A53;
$code-text-color: #00C4FF;
$light-color: #C3F9FF;

// Hover
$transition: 0.4s;
$transition-quick: 0.2s;
$transition-slow: 1s;

// Border
$border-radius: 4px;

// Font
$letter-spacing: 0.1rem;