@use 'reset';
@use 'vars';

body {
  font-family: vars.$font-family;
  letter-spacing: vars.$letter-spacing;
}

h2 {
  color: vars.$primary-color;
  display: inline;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;

  @media (min-width: 600px) {
    font-size: 3rem;
  }
}

h3 {
  color: vars.$alt-color;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;

  @media (min-width: 600px) {
    font-size: 1.8rem;
  }
}

h4 {
  color: vars.$primary-color;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;

  @media (min-width: 600px) {
    font-size: 1.5rem;
  }
}

p {
  color: vars.$primary-color;
}

ul {
  color: vars.$primary-color;
  line-height: 1.5rem;
}


// == Style pour partage de code 
.codeSnippet {
  background-color: vars.$primary-color;
  border-radius: 4px;
  color: vars.$code-text-color;
  font-weight: 300;
  line-height: 1.5rem;
  max-width: 800px;
  padding: 1.2rem 1rem;

  @media (min-width: 600px) {
    font-size: 1.1rem;
  }
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
