@use 'reset';
@use 'vars';

body {
  font-family: "Roboto", sans-serif;
}

h2 {
  color: #002A3F;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;

  @media (min-width: 600px) {
    font-size: 3rem;
  }
}

h3 {
  color: #1A8CC5;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: right;
  text-transform: uppercase;

  @media (min-width: 600px) {
    font-size: 2rem;
  }
}


// == Style pour partage de code 
.codeSnippet {
  background-color: #001D30;
  border-radius: 3px;
  color: #B9FEFF;
  line-height: 1.3rem;
  max-width: 1000px;
  padding: 0.8rem;

  @media (min-width: 600px) {
    font-size: 1.1rem;
  }
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
