@use 'src/styles/vars';
// == Style du header
.header {
    background-color: vars.$header-bg-color;
    height: 80px;
    letter-spacing: vars.$letter-spacing;
    margin: 0 auto;
    position: fixed;
    text-transform: uppercase;
    width: 100vw;

    .header-nav {
        display: flex;
        justify-content: space-between;

        .header-title {
            color: vars.$logo-color;
            font-size: 1.5rem;
            margin-left: 2rem;
            margin-top: 1.9rem;

            @media (min-width: 600px) {
                font-size: 2rem;
                margin-top: 1.5rem;
              }

            &.header-title:hover {
                color: vars.$light-color;
                transition: vars.$transition;
            }
        }

        .header-list {
            color: vars.$light-color;
            display: flex;
            font-size: 1rem;
            margin-right: 0;

            @media (min-width: 600px) {
                font-size: 1.1rem;
                margin-right: 5rem;
              }
            
            .header-link {
                margin-left: 1rem;
                margin-top: 2rem;

                &.header-link:hover {
                    color: vars.$primary-color;
                    transition: vars.$transition;
                }

                @media (min-width: 600px) {
                    margin-left: 4rem;
                  }
            }
        }

        .header-button {
            background-color: vars.$primary-color;
            border: none;
            border-radius: vars.$border-radius;
            color: vars.$light-color;
            font-size: 1em;
            letter-spacing: vars.$letter-spacing;
            margin-right: 2rem;
            margin-top: 1.3rem;
            padding: 0.8rem;
            text-transform: uppercase;         

            @media (min-width: 600px) {
                font-size: 1.1rem;
              }

              &.header-button:hover {
                background-color: vars.$light-color;
                color: vars.$primary-color;
                transition: vars.$transition-slow;
            }
        }
    }
}