@use 'src/styles/vars';
.subtitle {
  background-color: vars.$light-color;
  border-radius: vars.$border-radius;
  color: vars.$primary-color;
  display: inline-block;
  padding: 0.7rem;
  text-align: center;

  &.subtitle:hover {
    color: vars.$alt-color;
    cursor: default;
    transition: vars.$transition;    
  }
}
