@use 'src/styles/vars';

.subtitle {
  //  background: url(../../assets/pics/Jona_photo_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;

  .subtitle-title {
    align-self: center;
    color: vars.$primary-color;
    margin-top: 1rem;

    &.subtitle-title:hover {
      color: vars.$alt-color;
      cursor: default;
      transition: vars.$transition;
    }
  }
  .subtitle-pic {
    width: 25%;
  }
}
