// == Style du footer
.footer {
  background-color: #344a53;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  padding-top: 1.5rem;
  position: absolute;
  height: 120px;
  width: 100vw;
  ul {
      color: #ADF3FF;
  }
}
