@use 'src/styles/vars';
// == Style de la section tips
.sectionTips {
  border-bottom: 1px solid vars.$alt-color;
  padding: 3rem 2rem;

  p {
    font-size: 1rem;
    margin-bottom: 4rem;
    text-align: center;

    @media (min-width: 600px) {
      font-size: 1.4rem;
    }
  }

  .tipsBlocs {
    display: flex;
    

    .tipsTitle {
      display: flex;
      flex-direction: column;
      margin: 2rem 0;

      h3 {
        margin-top: 1.5rem;
        margin-left: 2rem;
      }

      h4 {
        margin-top: 1rem;
        margin-left: 4rem;
      }
    }

    .homeCodeSnippet {
      display: flex;
      justify-content: center;
      margin: 0 auto;

      .tipsCopyButton {
        align-self: center;
        background-color: vars.$code-text-color;
        border: none;
        border-radius: vars.$border-radius;
        color: vars.$primary-color;
        letter-spacing: vars.$letter-spacing;
        margin-left: 0.5rem;
        height: 70px;
        width: 70px;
        padding: 0 1rem;
        text-transform: uppercase;

        &.tipsCopyButton:hover {
          background-color: vars.$primary-color;
          color: vars.$code-text-color;
          transition: vars.$transition-quick;
        }
      }
    }
  }
}
