@use 'src/styles/vars';
// == Style de la section tips
.sectionTips {
  border-bottom: 1px solid vars.$alt-color;
  margin: 5rem auto 0;
  padding: 3rem 2rem;

  p {
    font-size: 1rem;
    margin-bottom: 2rem;
    text-align: center;

    @media (min-width: 600px) {
      font-size: 1.2rem;
      text-align: center;
    }
  }

  .tipsBlocs {
    display: flex;    

    .tipsTitle {
      display: flex;
      flex-direction: column;      

      h3 {
        padding: 2rem 2rem 1rem;
      }

      h4 {
        padding: 1rem 3rem;
      }
    }

    .homeCodeSnippet {
      background-color: vars.$light-color;
      border-radius: vars.$border-radius;
      display: flex;
      padding: 2rem;

      .tipsCopyButton {
        align-self: center;
        background-color: vars.$code-text-color;
        border: none;
        border-radius: vars.$border-radius;
        color: vars.$primary-color;
        letter-spacing: vars.$letter-spacing;
        margin-left: 1.5rem;
        height: 70px;
        width: 70px;
        padding: 0 1rem;
        text-transform: uppercase;

        &.tipsCopyButton:hover {
          background-color: vars.$primary-color;
          color: vars.$code-text-color;
          transition: vars.$transition-quick;
        }
      }
    }
  }
}
