@use 'src/styles/vars';
// == Style de la section tips
.sectionTips {
    border-bottom: 1px solid vars.$alt-color;
    padding: 3rem 2rem;

    p {
        margin-bottom: 1rem;
        text-align: center;
    }

    .homeCodeSnippet {
        margin: 0 auto;
    }
}
